
.DS_Store

.classpath

.metadata/.lock

.metadata/.log

*.zip

*.version

*.index

*.tree

*.resources

*.prefs

*.xml

*.xmi

.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache

.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt

.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache

*.dat

*.ini

.project

*.class
/bin
